.form-style-1 {
	margin:10px auto;
	max-width: 1000px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select
.custom-file-upload{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    resize: vertical;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
    width: 100%;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus
.custom-file-upload:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], 
.form-style-1 input[type=button],
.custom-file-upload{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
    width: 100%;
}
.form-style-1 input[type=submit]:hover, 
.form-style-1 input[type=button]:hover,
.custom-file-upload:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
    cursor: pointer;
}
.form-style-1 .required{
	color:red;
}

.form-style-1 textarea {
    height: 200px;
}

.form-style-1 div{
	margin-top: 10px;
}

.form-style-1 input[type="file"] {
    display: none;
}

.form-style-1 label {
    display: block;
    width: max-content;
	box-sizing: border-box;
}

.custom-file-upload {
    cursor: pointer;
}
